<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @comment.task_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<%= link_to 'Edit', edit_task_comment_path(@task, @comment) %> |
<!--<%= link_to 'Back', task_comments_path(@task) %>-->
<%= link_to 'Back', task_path(@task) %>
