name<p>
  <%
    color = Color.find(@task.colors_id)
  %>
  <strong>Title:</strong>
  <span class="label" style="background-color:<%= color.hex %>"><%= @task.id %></span> <%= @task.title %>
</p>
<p>
  <strong>Text:</strong>
  <%= @task.text %>
</p>
<%= link_to 'Edit', edit_task_path(@task) %>
<p>
  <table>
    <thead>
      <tr>
        <th>Task</th>
        <th>Content</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.task_id %></td>
          <td><%= comment.content %></td>
          <td><%= link_to 'Show', [@task, comment] %></td>
          <td><%= link_to 'Edit', edit_task_comment_path(@task, comment) %></td>
          <td><%= link_to 'Destroy', [@task, comment], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  Create a <%= link_to 'new comment', new_task_comment_path(@task) %>
  </br>
</p>
<p>  
  <%= link_to 'Back', tasks_path %>
</p>
